
{{#each posts as |post|}}
<article class="card p-2">
    <div class="card-body">
        <div class="row bg-dark text-white justify-content-between">
            <h1><a href="{{id}}" class="card-title text-white px-4">{{title}}</a></h1>
            <h4 class="align-self-center pr-2">Posted by: {{user.username}}<span class="text-muted pl-3">{{format_date created_at}}</span></h4>
        </div>
        <div class="row">
            
        </div>
        <div class="row py-1">
            <h5 class="px-5">{{post_text}}</h5>
        </div>
    </div>
</article>
{{/each}}
