<article class="card p-2">
    <div class="card-body">
        <div class="row bg-dark text-white justify-content-between">
            <h1><a class="card-title text-white px-4">{{post.title}}</a></h1>
            <h4 class="align-self-center pr-2">Posted by: {{post.user.username}} on {{format_date post.createdAt}}</h4>
        </div>
        <div class="row">
            
        </div>
        <div class="row py-1">
            <h5 class="px-5">{{post.post_text}}</h5>
        </div>
    </div>
</article>

{{#if loggedIn}}
<form class="my-3" id="add-comment">
  <div class="form-group">
    <h2 class='px-4'>Add comment:</h2>
    <textarea name="comment-body" class='form-control w-50 mx-4' rows='6'></textarea>
  </div>

  <div class='form-group'>
    <button type="submit" class='btn btn-primary mx-4'>add comment</button>
  </div>
</form>
{{/if}}
<h2 class="mx-4 my-3">Comments:</h2>
{{#each post.comments as |comment|}}
<div class="row mx-4">
  <h3 class='mr-1'>{{comment.comment_text}}</h3>
  <p class='muted' style="font-size: 1.5em;">-{{comment.user.username}}  {{format_date comment.created_at}}</p>
</div>
{{/each}}
<script src="/javascript/comments.js"></script>